
# Données volumineuses

data/raw/*.csv

data/processed/*.csv

# Fichiers Python

__pycache__/

*.py[cod]

*$py.class

*.so

.Python

env/

venv/

# Jupyter Notebook

.ipynb_checkpoints

# Fichiers système

.DS_Store

Thumbs.db

# Archives

*.zip

# Tableau

*.twb~

# Exclure les fichiers volumineux
data/processed/events_clean.csv
data/processed/optimization_opportunities.csv

# Mais autoriser les fichiers nécessaires au dashboard
!data/processed/kpis_summary.csv
!data/processed/daily_kpis.csv
!data/processed/hourly_analysis.csv
!data/processed/top_products.csv
!data/processed/ab_tests_results.csv
!data/processed/events_for_tableau.csv